<% for (let i = 0; i < user_list.length; i++) { %> 
    <tr class="c-form__table__values">
        <td><%= i + 1 %></td>
        <td><%= user_list[i].name %></td>
        <td><%= user_list[i].email %></td>
        <td><%= user_list[i].gender %></td>
        <td><%= user_list[i].status %></td>
        <td class="c-form__table__btns">
            <a href="/user/update?id=<%= user_list[i]._id %>" class="c-btn c-btn--edit" title="Edit">
                <span><i class="fa-solid fa-pen-to-square"></i></span>
            </a>

            <form action="/api/users/<%= user_list[i]._id %>?_method=DELETE" method="POST" class="user-delete">
                <button type="submit" class="c-btn c-btn--delete" title="Delete">
                    <span><i class="fa-regular fa-circle-xmark"></i></span>
                </button>
            </form>
        </td>
    </tr>
<% } %> 
